*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  /* padding-top: 10vh; */
}
.content{
  display: flex;
  margin-top: 20vh;
  width: 80vh;
  float: left;
 flex-wrap: wrap;
}
/* .content1{
  background-color:white;
  height: 50vh;
  width: 50vh;
  border-radius: 200px;
  text-align: center;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 60px; */
  border: 2px solid black;
  box-shadow: 4px 4px 8px rgb(0,0,0, 0.8);
  margin-bottom: 30px;

  
}
.content1 img {
  justify-self: center;
  margin-top: 5px;
  height: 38vh;
  width: 38vh;

} */
.content h1{
  font-size: 60px;
  margin-bottom: 10px;
}
.content p{
  font-size: 20px;
}
@keyframes slideinleft{
 to{
  right:-200px;
 }
}

.divs{
  right: 100%;
  /* left: 100%; */
  height: 100px;
  width:150px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 40px;
  /* padding: 30px; */
  /* padding-left: 40px; */
  font-weight: 700;
  box-shadow: 4px 5px 7px rgb(0, 0,0,0.2);
 /* transform: rotate(90deg); */
  position: absolute;
  animation: slideinleft 40s linear infinite;
  /* animation-delay: -5s; */
}
.main{
  display: flex;
  flex-direction: row;
  transform: rotate(90deg);
  margin-left: 20vh;
  margin-top: 20vh;
  /* margin-bottom: 10px; */

  /* border: 1px solid black; */
  position: relative;
  height: 120px;
  overflow: hidden;
  width: 500px;
  mask-image: linear-gradient(
    to right,
    rgb(0,0,0,0),
    rgb(0,0,0,1)20%,
    rgb(0,0,0,1)60%,
    rgb(0,0,0,1)92%,
    rgb(0,0,0,0)
  );
}
.div1{
  animation-delay: -10s;
}
.div2{
  animation-delay: -20s;
}
.div3{
  animation-delay: -30s;
}
.div4{
  animation-delay: -40s;
}


@keyframes aslide{
  to{
   left: -200px;
  }
 }
.div{
  left: 100%;
  height: 100px;
  width:100px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 4px 5px 7px rgb(0, 0,0,0.2);
  position: absolute;
  color: purple;
  font-size: 50px;
  
 display: flex;
 align-items: center;
 justify-content: center;
  font-weight: 700;
  animation: aslide 39s linear infinite;
  
  /* animation-delay: -5s; */
}
.div5{
  animation-delay: -13s;
}
.div6{
  animation-delay: -26s;
}
.div7{
  animation-delay: -39s;
}
.second{
  transform: rotate(90deg);
  margin-left: 20vh;
  /* margin-top: 5vh; */
  /* border: 1px solid black; */
  background-color: black;
  position: relative;
  height: 120px;
  /* overflow: hidden; */
  width:90vh;
  /* opacity: 0.9; */
  mask-image: linear-gradient(
    to left,
    rgb(0,0,0,0),
    rgb(0,0,0,1)100%,
    /* rgb(0,0,0,1)1%, */
    rgb(0,0,0,1)10%,
    rgb(0,0,0,0) 
  );
}
